/* color darker #3b1851 lighter #a645ae */
/*  font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Roboto', sans-serif;
    color: black;  
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }

/* Hero Section */
#hero {
  width: 100%;
  height: 60vh;
  background-image: url("fireworks.jpg")  ;
  /* background:center center; */
  background-size: cover;
  position: relative;
  margin-top: 70px;
  padding: 0;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  #hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-size: 24px;
  }  

@media (max-width: 992px) {
    #hero {
      height: calc(100vh - 70px);
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 30px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  } 
  
 

