/* color darker #3b1851 lighter #a645ae */
/*  font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
https://www.color-hex.com/color/3b1851 */

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* color: white; */
    background-color: #ebe7ed;  
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    text-transform: uppercase;
    font-style: italic;
    
    
  }

  .padding {
    padding-left:   .5; 
    padding-right:  .5;
  }

  

/* nav */
.navbar {
  height: 100px;
  color: white;
  background-color: #303030;
  border-width: 2px;
  border-color: black;
  
}

.nav-link{
  color :white !important;
  font-family: 'Montserrat', sans-serif;
}

 
/* Hero Section */
#hero {
  width: 1200px;
  height: 650px;
  background-image: url("resizeLogo.jpg")  ;
  background-size: cover;
  position: relative;
  display:flex;
  margin-top: 70px;
  padding: 0;
  text-align: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  #hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-size: 24px;
  }  

@media (max-width: 992px) {
    #hero {
      height: calc(100vh - 70px);
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 30px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  } 

  /* message section*/
  .video{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #9D8BA8;
    width:auto;
    border-style: solid;

  }
  iframe{
    display: block;
    margin: 10px auto;
  }
  .message {
    padding: 10px 0;
    margin-top: 10px;
  }
  
  
  
  #logo {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }

 
.message{
  padding: 10px;
  width: 100%;
  margin-top: 100px;
  /* margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; */
  /* border-style: solid; */
  border-width: 5px;
  background-color: whitesmoke;

}

.message h5 {
  font-weight: 600;
  font-size: 32px;
  color: whitesmoke;
} 

 /* vision section */

 #vision {
   padding: 10px;
   background-color: #1D0C28;
   color: white;
   width: 100%;
   /* margin-left: auto;
   margin-right: auto; */
 }

 .vision ul {
  padding: 0;
  font-size: 15px;
}

.vision ul li + li {
  margin-top: 10px;
}

.vision ul li {
  position: relative;
  padding-left: 26px;
}
.vision h5{
  color: whitesmoke;
}

.vision .icon-boxes h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.vision .icon-boxes i {
  font-size: 48px;
  color: #3498db;
}

.vision .icon-boxes p {
  font-size: 15px;
  color: white;
}


 
/* facility section */
/* img{
  
  margin-left: auto;
  margin-right: auto;

} */

.facility{
  padding: 10px;
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
  background-color: white ;
  color: #715d7e;
  text-align: center;

}
.facility h3{
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color:#3b1851;
  ;
}
h5 {
  text-align: center;
  /* font-weight: 500; */
  font-size: 20px;
  padding: 25px;
  margin-top: 25px;
  color: #3b1851;
}




.facility ul li{
  text-align: center;
  list-style: inside;
}
/* impact section */
.impact{
  padding: 10px;
  width: 100%;
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; */
  /* border-style: solid; */
  border-width: 5px;
  background-color: white;

}

.impact h3 {
  font-weight: 600;
  font-size: 32px;
  color: #3b1851;
  text-align: center;
}

.impact img {
  display: block;
  margin:auto;
  width: 80%;
  padding: 10px;
}

.center-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}

a:link {
  
  color: #3b1851;
  text-decoration: none;
  
}

/* worship section */
.worship{
  padding: 10px;
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
  background-color: #9e7aba ;
  color: #3b1851;
  text-align: center;
}

.btn {
  background-color: #3b1851;
  
}

/* contact section */

.contact{
  padding: 10px;
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
  background-color: white ;
  color: #715d7e;
  text-align: center;
}
 
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block; margin: 10px;
 
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  
  color: #3B5998;
}

.fa-twitter {
 
  color: #55ACEE;
}

.fa-youtube {
  
  color: #bb0000;
}

.fa-instagram {
  
  color: #125688;
}
.social{
  text-align: center;
}

.card {
  border: solid;
  border-width: 2px;
  border-color: #3b1851;
  border-radius: inherit;

}





